<div class="image-parent">
<img src= "assets/images/about_us.jpg" alt="About Us Page" class="image-alignment"/>
</div>
<h1>
Welcome to UnsaidTalks
</h1>
<div class="text-parent">
<p class="text-quotes">UnsaidTalks aims at making engineering students effectively utilise their 4 years at University 
and to make them outshine from among the crowd of 1.5+ million engineers graduating every year.</p>
<p class="text-general">Hey Future Engineer,<br>Welcome to UnsaidTalks – A community of enthusiastic engineering students who thinks way ahead of 
simply going into classes and just passing exams. It is the community of ambitious students who love 
to hustle, build projects, read books other than their course books, code and who loves to discover
themselves. Remember,</p>
<p class="text-quotes ">Knowing yourself is the beginning of all the wisdom</p>
<div class="list-general">
<ul >Here is what you will find on UnsaidTalks:<br>
<li class="list-child">A platform to get in touch with your seniors</li>
<li class="list-child">Most Effective Ways to utilise your free time in University</li>
<li class="list-child">Tips on Starting with coding</li>
<li class="list-child">Basic and Advanced Interesting Python coding Projects.</li>
<li class="list-child">Must Read books while in university to get better understanding of world after 4 years.</li>
<li class="list-child">Guidance about getting your dream Job.</li>
<li class="list-child">Exclusive Placement Season guidance to Thapar University Students.</li>
<li class="list-child">Exclusive Interviews of students placed in companies visiting the Thapar University Campus.</li>
</ul></div>
<p class="thanks-text text-general">We Appreciate You!<br>
Thank you for being here. Hearing Thank you notes from students like you who tell us how they get so 
much knowledge from this platform urges us to create more content for you people. We are looking forward 
to the future of UnsaidTalks, and we are glad you are here.
<br>Thank You!</p>
</div>