<div class="image-parent">
<img src= "assets/images/contact_us.jpg" alt="About Us Page" class="image-alignment"/>
</div>
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="panel-body">
				<div class="row">
					<div class="account-wall">
						<form class="form-signin">
							<label for="userName">Name</label>
							 <input class="form-control" id="userName" type="text"
								[minLength]="1" [maxLength]="20" required>
							<!--<div *ngIf="pn.errors && (pn.dirty || pn.touched)"
								class="alert alert-danger">
								<div [hidden]="!pn.errors.required">Your Name must
									contain 1 - 20 characters</div>
							</div>-->

							<label for="userEmail">Email Id</label> <input
								class="form-control" name="productType" type="email"
								required>

							<label for="educationDetails">University and Year</label> 
							<input class="form-control" name="educationDetails" type="text"
                            [minLength]="1" [maxLength]="20" required> 

                            <!--<div *ngIf="pn.errors && (pn.dirty || pn.touched)"
								class="alert alert-danger">
								<div [hidden]="!pn.errors.required">Invalid Entry</div>
							</div>-->
								
							<label for="message">Comment, Message, Query or Feedback</label> 
                            <textarea rows="5" cols="50" class="form-control"  name='comment' id='comment'required></textarea>
								
							<span>{{errorMsg}}</span>
							<span> <input type="submit"
								class="btn btn-lg btn-primary btn-block btn-signin"
								class="text-center login-title" class="btn"
								style="margin-top: 20px; margin-left: 100px">
							</span> 
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-5 margin-top-30"><p class="text-quotes">We would be happy to answer any question you have. Please feel free to send us any comments, questions, queries, praise or feedback via the comment box below. We promise to try and respond in timely manner.</p></div>

	</div>
<p>Thank You very much and we look forward to hearing from you.<br>Cheers!</p>
