<h1> Welcome to contact page</h1>

<div class="container">
	<div class="row">
		<span class="title">
			<h3 class="text-center login-title">Contact Us</h3>
		</span>
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<div class="panel-body">
				<div class="row">
					<div class="account-wall">
						<form class="form-signin">

							<label for="userName">Name</label>
							 <input class="form-control" id="userName" type="text"
								[minLength]="1" [maxLength]="20" required>
							<!--<div *ngIf="pn.errors && (pn.dirty || pn.touched)"
								class="alert alert-danger">
								<div [hidden]="!pn.errors.required">Your Name must
									contain 1 - 20 characters</div>
							</div>-->

							<label for="userEmail">Email Id</label> <input
								class="form-control" name="productType" type="email"
								required>

							<label for="educationDetails">University and Year</label> 
							<input class="form-control" name="educationDetails" type="text"
                            [minLength]="1" [maxLength]="20" required> 

                            <!--<div *ngIf="pn.errors && (pn.dirty || pn.touched)"
								class="alert alert-danger">
								<div [hidden]="!pn.errors.required">Invalid Entry</div>
							</div>-->
								
							<label for="message">Comment, Message, Query or Feedback</label> 
                            <textarea rows="5" cols="50" class="form-control"  name='comment' id='comment'required></textarea>
								
							<span>{{errorMsg}}</span>
							<span> <input type="submit"
								class="btn btn-lg btn-primary btn-block btn-signin"
								class="text-center login-title" class="btn"
								style="margin-top: 20px; margin-left: 100px">
							</span> 
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

    <p>Thank You very much and we look forward to hearing from you.<br>Cheers!</p>
