<header>
  <div class="container header inner">
    <nav class="navbar navigation-bar" >
      <div class="container">
        <div class="navbar-header">
          <!--<a class="navbar-brand" href="#"><img class="upcon" height="40px" width="40px" src="assets/images/unsaidtalksLogo.png"></a>-->
        <a class="pull-left navigation-text" href="#"><img class="upcon" height="40px" width="40px" src="assets/images/unsaidtalksLogo.png"> UnsaidTalks </a>
        </div>
        <!--<div >
            <h3 ><a [routerLink]="['home']">UnsaidTalks</a></h3>
            <h6>Gateway to Success Talks</h6>
        </div>-->
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right masthead-nav">
            <li><a [routerLink]="['home']" class="navigation-text">Home</a></li>
            <li><a [routerLink]="['about']" class="navigation-text">About</a></li>
            <li><a [routerLink]="['blog']"class="navigation-text">Blog</a></li>
            <li><a [routerLink]="['interviews']"class="navigation-text">Interviews</a></li>
            <li><a [routerLink]="['projectshowcase']"class="navigation-text">Project Showcase</a></li>
            <li><a [routerLink]="['contact']"class="navigation-text">Contact</a></li>
          </ul>
        </div>
      </div>
      </nav>
  </div>
</header>

<router-outlet></router-outlet>
<hr>

<h3>This portion will contain tags, testimonials and other stuff!!</h3>


<hr>
<footer class="fixed-bottom">
  <p>Copyright © 2017 UnsaidTalks</p>
  <nav class="navbar">
      <div class="container">
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right masthead-nav">
            <li><a [routerLink]="['home']" class="navigation-text">Home</a></li>
            <li><a [routerLink]="['about']" class="navigation-text">About</a></li>
            <li><a [routerLink]="['contact']"class="navigation-text">Contact Us</a></li>
            <li><a href="#">Work With Us</a></li>
            <li><a href="#">Terms And Private Policies</a></li>
          </ul>
        </div>
      </div>
      </nav>
</footer>

