<header>
  <div class="container header inner">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img class="upcon" height="80px" width="80px" src="assets/images/unsaidtalksLogo.png">
          <h4>UnsaidTalks</h4>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right masthead-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Interviews</a></li>
            <li><a href="#">Project Showcase</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      </nav>
  </div>
</header>
<!--<footer class="fixed-bottom">
  <p>Copyright © 2017 UnsaidTalks</p>
  <nav class="navbar">
      <div class="container">
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right masthead-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Work With Us</a></li>
            <li><a href="#">Terms And Private Policies</a></li>
          </ul>
        </div>
      </div>
      </nav>
</footer>-->