<h1>Welcome to UnsaidTalks</h1>

<img src="assets/images/home.jpg" alt="Home Page" align="middle" height="100%" width="100%">
<h1>
Learn | Grow | Enjoy
</h1>

<p>
  UnsaidTalks is for the ambitious Engineering Students who want to learn and grow everyday. 
  The mission of UnsaidTalks is to bridge the gap of experience between life as an engineering 
  student and life as a professional in corporate industry. We aim that students gain required 
  skills in University to achieve better understanding of world after 4 years. If you have any 
  doubts related to placements, internships, CGPA or simply need any suggestions and you think 
  that we will be the right community to help you then you can ping us <a [routerLink]="['/contact']"class="navigation-text">here</a>.
  We would love to guide.If your placement season is approaching or if you are simply curious to
  know what exactly happens in Campus Placement Interview of your Dream Company, head over to 
  <a [routerLink]="['/interviews']"class="navigation-text">‘INTERVIEWS‘</a> Section.Are you curious
  to know what your seniors wants to guide you about your life in University, head over to
  <a [routerLink]="['/blog']"class="navigation-text">‘Blog‘</a> Section.
</p>